.cart-wrapper {
}

.title-checkout {
    text-align: center;
    margin: 1.5rem 0;
}

.shopping-option {
    display: flex;
    justify-content: space-between;
}

.shopping-row {
    margin: 3rem 0;
}

.fa-trash {
    color: grey !important;
    transition: 0.3s;
}

.fa-trash:hover {
    color: red !important;
}

.fa-repeat {
    color: grey !important;
    margin-right: 50px;
    transition: 0.3s;
}

.fa-repeat:hover {
    color: green !important;
    cursor: pointer;
}

.btn-cart-update {
    border-style: none;
    background-color: white;
}

/* ===========Checkout section================ */
.card-checkout {
    margin-top: 1rem;
}

.btn-checkout {
    width: 100%;
}

.cart-text {
    display: flex;
    justify-content: space-between;
}

/* ===========Cart section================ */

.no-cart-item {
    text-align: center;
    height: 100% !important;
    width: 100% !important;
}

/* ============Responsive===================== */
@media only screen and (max-width: 500px) {
    .column-display {
        display: none;
    }
}
