.detail-brake-line {
    margin-bottom: 25px;
}

.btn-cart-detail {
    margin: 1.5rem 0;
}

.detail-image {
    height: 302px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-img-cont {
    height: 250px;
    width: 350px;
    border: #333 solid;
    border-radius: 10px;
}

/* ============ Related items =============== */
.btn-related-wrapper {
    display: flex;
    justify-content: flex-end;
}

.btn-related {
    border-radius: 50%;
}

.carousel-item-related {
    height: auto;
}

.item-related {
    text-align: center;
}

.img-related {
    width: 200px !important;
    height: 100px !important;
}

.text-related {
    text-align: center;
}

.btn-add-related {
    border: none !important;
    padding: 5px 12px;
    border-radius: 50px;
    background-color: #fd7e14 !important;
    color: #fff !important;
    transition: 0.4s;
}

.btn-add-related:hover {
    background-color: #228b22 !important;
}

/* ============ Comments ============== */
.comment-section-wrapper {
    margin: 20px 0;
}

.review-name {
    border-radius: 5px;
    border: none;
    background-color: #f0f2f5;
    width: 200px;
    padding: 5px;
}
.review-name:focus {
    border: none;
    outline: none;
}

.review-comment-text {
    border-radius: 5px;
    border: none;
    background-color: #f0f2f5;
    margin: 8px 0 !important;
}
.review-comment-text:focus {
    outline: none;
}

.btn-review-wrapper {
    display: flex;
    justify-content: flex-end;
}

.btn-review {
    width: 80px;
    padding: 5px;
    background-color: #17a8fd;
    color: #fff;
    border: none;
    transition: 0.3s;
}

.btn-review:hover {
    background-color: #35b7fe;
    border: none;
}

.fa-clock,
.fa-user-circle {
    color: #3fbbd9;
}

.fa-comment {
    color: #17a8fd;
}

.img-thumbnail-icon {
    height: 70px;
    text-align: center;
}

/* ====== Paginate ==== */
.comment-paginate {
    width: 100%;
    display: flex;
    justify-content: center;
}

.comment-paginate .pagination {
    margin: 0;
}

.comment-paginate .pagination > li > a {
    color: #17a8fd !important;
    border: none;
}

.comment-paginate .pagination > li > a:hover {
    background-color: #fff !important;
    border: none;
}

.comment-paginate .pagination > .active > a,
.comment-paginate .pagination > .active > a:focus,
.comment-paginate .pagination > .active > a:hover,
.comment-paginate .pagination > .active > span,
.comment-paginate .pagination > .active > span:focus,
.comment-paginate .pagination > .active > span:hover {
    color: #17a8fd !important;
    font-weight: bold;
    text-decoration: underline;
    background-color: #fff !important;
    border: none;
}

.comment-paginate .pagination > .disabled > span {
    background-color: #fff !important;
    border: none;
}

/* ============= rating ========================*/
.star-icon {
    color: #ffd700 !important;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 800;
}

.rating-css input {
    display: none;
    margin: 0;
    padding: 0;
}

.rating-css input + label {
    font-size: 25px;
    text-shadow: 1px 1px #333;
    cursor: pointer;
}

.rating-css input:checked + label ~ label {
    color: #b4afaf;
    text-shadow: none;
}

.rating-css label:active {
    transform: scale(0.6);
    transition: 0.3s ease;
}

/* .rating-css input:checked ~ input:not(:checked) ~ label {
    color: #ddd;
}

.rating-css input:checked ~ input:not(:checked) + label:hover ~ label {
    color: #ddd;
}

.rating-css:hover input + label,
.rating-css:hover input:checked + label {
    color: #ffd700;
}

.rating-css:hover input:checked ~ input:not(:checked) ~ label:hover,
.rating-css:hover input:checked ~ input:not(:checked) + label {
    color: #ffd700;
}

.rating-css:hover input:checked ~ input:not(:checked) ~ label:hover ~ label {
    color: #ddd !important;
}

.rating-css input + label:hover ~ label {
    color: #ddd !important;
} */

/* End of Star Rating */
