.menu-content {
    margin: 1.5rem 0;
}

/* =======Ctegory Name======= */
.cat-name-wrapper {
    margin: 5px 20px;

    /* text-align: center; */
}

.cat-name {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 17px;
}
.cat-name:hover {
    color: #fd7e14;
}

/* =======Products======= */
.menu-title {
    font-family: "Pacifico", "cursive";
    color: #fd7e14;
    text-shadow: 1px 1px black;
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
}

.menu-product {
    position: relative;
}

/* ========Card========== */
.card-body {
    /* z-index: 1; */
    z-index: hidden;
}

.menu-card-img {
    overflow: hidden;
}

.menu-card {
    margin-bottom: 24px;
    overflow: hidden;
}

.menu-card img {
    transform: scale(1);
    transition: 0.4s ease-in-out;
}

.menu-card:hover img {
    transform: scale(1.25);
}

/* =======Modal======= */
.modal-open {
    overflow: scroll !important;
    padding: 0 !important;
}

.quantity-input {
    width: 50px !important;
    text-align: center;
    /* margin-left: 10px; */
    border-radius: 5px;
    border: solid 1px;
}

.qty-box {
    display: flex;
}

.menu-btn {
    border: solid 1px;
    width: 30px;
    text-align: center;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

.menu-btn:active {
    background-color: #ffb375;
}

.page-break {
    margin-top: 2.75rem;
}

/*==========Paginate==========*/

.pagination > li > span {
    color: #fff !important;
    background-color: #e5e5e5 !important;
    /* border-color: #fd7e14 !important; */
}

.pagination > li > a {
    color: #fd7e14 !important;
    /* background-color: #e5e5e5 !important; */
    /* border-color: #fd7e14 !important; */
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #fd7e14 !important;
    border-color: #fd7e14 !important;
}

/*=============Search===============*/
.ui-menu-item {
    padding: 5px 5px;
    font-weight: normal;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #ffb375 !important;
    color: #fff !important;
    border-radius: 10px;
    border: none;
}

.search-bar-wrapper {
    border: solid 2px #fd7e14;
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
}

.box-search {
    border: none;
    margin: 0 !important;
}

.box-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    margin-right: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}

.box-search:focus {
    border: none;
    box-shadow: none;
}

.btn-search {
    border: none;
    border-radius: 50%;
    margin: 0;
}

/*==============Sort=================*/
.sort-font {
    text-decoration: underline;
    color: #333;
    font-style: italic;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.sort-font:hover {
    color: #cf650e;
}

/* ========Cart count========= */
.cart-count {
    font-size: 12px;
    padding: 0 5px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    vertical-align: top;
    margin-left: -10px;
    position: relative;
}

/* =========Responsive========= */
@media only screen and (max-width: 767px) {
    .cat-name-wrapper {
        text-align: center;
    }
}
